.static-element {
  position: static;
  background-color: bisque;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.relative-element {
  position: relative;
  background-color: rgb(27, 116, 184);
  width: 200px;
  height: 200px;
  top: 25px;
  left: 25px;
  border: 2px solid black;
}

.container {
  position: relative;
  background-color: rgba(127, 255, 212, 0.682);
  width: 400px;
  height: 400px;
  border: 2px solid black;
}

.absolute-element {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(38, 156, 125, 0.49);
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.fixed-element {
  position: fixed;
  background-color:rgba(120, 173, 15, 0.647) ;
  width: 200px;
  height: 200px;
  bottom: 20px;
  right: 10px;
  border: 2px solid black;
}

.container-1 {
  height: 1000px;
}

.sticky-element{
  position: sticky;
  width: 200px;
  height: 200px;
  top: 100px;
  background-color: rgba(173, 216, 230, 0.753);
  padding: 10px;
  border: 2px solid #020101;

}