 html { font-size: 16px; }

    body {
      background: #adadad;
      margin: 20px;
    }

    h1 { font-size: 2rem; }
    p  { font-size: 1em; }

    .container {
      width: 80%;
      background: #8fd6ee;
      padding: 20px;
      margin: 20px ;
    }

    .px-box {
      width: 200px;
      height: 100px;
      background: #ffcc00;
      text-align: center;
      line-height: 100px;
      margin-bottom: 10px;
    }

    .em-box {
      font-size: 1.2em;
      background: #55cb59;
      padding: 1em;
      margin-bottom: 10px;
    }

    .rem-box {
      font-size: 1rem;
      background: rgba(238, 27, 27, 0.3);
      padding: 1rem;
      margin-bottom: 10px;
    }

    .colors div {
      width: 150px;
      height: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-right: 10px;
      border-radius: 10px;
    }

    .hex  { background: #e82e2e; color: #fff; }
    .rgb  { background: rgb(60, 187, 66); color: #fff; }
    .rgba { background: rgba(0, 0, 255, 0.59); color: #000; }