.button:hover {
  background-color: darkkhaki;
  color: darkslategray;
}
.button1:focus {
  background-color: blue;
  color: #000;
}

.input:focus {
  background-color: darkseagreen;
  color: darkred;
}

.list-item:first-child {
  font-weight: bold;
}
.list-item:last-child {
  color: palevioletred;
}

.container {
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
}

.url:hover {
  background-color: darkblue;
  color: white;
}

.list:first-child {
  color: cornflowerblue;
}
.list:last-child {
  color: goldenrod;
}
.list:nth-child(2) {
  color: blue;
}
.list:nth-child(3) {
  color: rgb(130, 27, 186);
}
.list:nth-child(4) {
  color: rgb(153, 25, 96);
}

.list-item1:nth-child(odd) {
  background-color: white;
}
.list-item1:nth-child(even) {
  background-color: dimgray;
}

.list2:first-child:hover {
  color: darkgreen;
  background-color: bisque;
}
.list2:last-child:hover {
  color: aqua;
  background-color: black;
}
.list2:nth-child(2):focus {
  color: coral;
  background-color: cornflowerblue;
}