.inline{
  background-color: darkgreen;
  margin: 16px;
  border-radius: 10px;
}

.block{
  background-color: darkred;
  margin: 16px;
  border-radius: 10px;
}

.inline-to-block{
  display: block;
  background-color: darkred;
  margin: 16px;
  border-radius: 10px;
}
.block-to-inline{
  display: inline;
  background-color: darkgreen;
  margin: 16px;
  border-radius: 10px;
}
